.myschedule {
  min-height: 80vh;
  h2 {
    color: $primary;
    font-size: 700;
    margin-bottom: 2rem;
  }
  .myschedule-table {
    min-width: 800px;
  }

  .commentModal {
    .rate {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    .star {
      color: rgba(0, 0, 0, 0.25);
      margin-right: 3px;
    }
    input:checked ~ label {
      color: $warning;
    }

    textarea {
      resize: none;
    }
  }
}
