.teacher {
  min-height: 80vh;
  background-color: $bg-light-blue;

  .teacher-info {
    border: 4px $white solid;
    background-color: $bg-dark-blue;

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: right;
      display: block;
    }

    .teacher-title {
      text-shadow: $white 3px 3px;
    }

    .price {
      text-shadow: $white 3px 3px;
    }
  }
}

@media screen and (max-width: 768px) {
  .teacher {
    .teacher-info {
      img {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
