//bootstrap
$primary: #006bce;
$warning: #ffaf44;
$dark: #1a1a1a;
$success: #00b78c;

//
$bg-light-blue: #def1ff;
$bg-dark-blue: #c1daff;

//
$light-yellow: #ffdf70;
$gray-darkest: #1a1a1a;
$gray-darker: #616161;
$gray-dark: #a9a9a9;
$gray-light: #ced4da;
$gray-lighter: #f8f8f8;
$white: #ffffff;
