<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Guide Class</title>
    <script
      src="https://kit.fontawesome.com/de0f812dc0.js"
      crossorigin="anonymous"
    ></script>
    <link href="../asset/style/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="banner-pic col-lg-8 col-12 order-lg-last">
            <img src="/img/3784896.png" alt="GuideClassMainImg" class="w-100" />
          </div>
          <div
            class="banner-copy col-lg-4 col-12 d-flex flex-column justify-content-center my-3 my-lg-0"
          >
            <h2 class="my-2 fs-1">
              語言知識<span class="text-primary underline">無國界零時差</span>
            </h2>
            <h6 class="fs-5">GuideClass 隨時隨地找到您的語言專業嚮導</h6>
            <div class="dropdown my-3">
              <input
                class="form-control nav-search bg-light"
                type="search"
                data-bs-toggle="dropdown"
                placeholder="您想學習什麽？"
                readonly="true"
              />
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">英語</a></li>
                <li>
                  <a class="dropdown-item" href="#">日語</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">韓語</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="board">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12 my-lg-0 my-3">
            <div class="card">
              <div class="img-top">
                <p class="top-title bg-danger">日語教師 Top 1</p>
                <img
                  src="https://images.unsplash.com/photo-1475823678248-624fc6f85785?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                  class="card-img-top w-100"
                  alt="kimi san"
                />
                <p class="rating-star"><i class="fa-solid fa-star"></i> 4.99</p>
              </div>
              <div class="card-body p-3">
                <h6 class="card-subtitle mb-2 text-muted">JLPT 日檢</h6>
                <h5 class="card-title text-truncate">Kimi | N1 N2 輕鬆合格</h5>
                <hr />
                <div class="rating">
                  <div class="row my-3">
                    <div class="col-2">
                      <img
                        src="https://images.unsplash.com/photo-1487309078313-fad80c3ec1e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt=""
                        class="rating-std d-block"
                      />
                    </div>
                    <div class="col-10">
                      <p class="m-0">2022.12.24</p>
                      <p class="w-100 text-truncate m-0">
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i
                          class="fa-solid fa-star-half-stroke text-warning"
                        ></i>
                      </p>
                    </div>
                  </div>
                  <div class="row my-3">
                    <p class="text-truncate">
                      首先，我要說的是 kimi
                      老師的教學非常親切。他/她能夠很好地解釋日文的知識，讓我們能夠很快地理解和掌握。在我們學習日文檢定課程的三個月中不斷復習&練習，並告訴我們考試技巧，讓同學們在考試都獲得不錯的成績。
                    </p>
                  </div>
                </div>
                <a href="#" class="btn btn-warning w-100 text-white"
                  >瞭解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12 my-lg-0 my-3">
            <div class="card">
              <div class="img-top">
                <p class="top-title bg-primary">英語王牌教師</p>
                <img
                  src="https://images.unsplash.com/photo-1580894732444-8ecded7900cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                  class="card-img-top w-100"
                  alt="tammy"
                />
                <p class="rating-star"><i class="fa-solid fa-star"></i> 4.99</p>
              </div>
              <div class="card-body p-3">
                <h6 class="card-subtitle mb-2 text-muted">商業英語</h6>
                <h5 class="card-title text-truncate">
                  Tammy | 職場英語讓您無往不利
                </h5>
                <hr />
                <div class="rating">
                  <div class="row my-3">
                    <div class="col-2">
                      <img
                        src="https://images.unsplash.com/photo-1621390842036-f01b53d9cbfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                        alt=""
                        class="rating-std d-block"
                      />
                    </div>
                    <div class="col-10">
                      <p class="m-0">2022.12.01</p>
                      <p class="w-100 text-truncate m-0">
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i
                          class="fa-solid fa-star-half-stroke text-warning"
                        ></i>
                      </p>
                    </div>
                  </div>
                  <div class="row my-3">
                    <p class="text-truncate">
                      感謝Tammy老師的無私奉獻和付出，她真的是一位很有耐心和細心的老師。不再害怕開口說英文。以前跟外籍主管開會時我會感到害怕，常常聽不懂主管在說什麼，但是現在跟外籍主管開會都不再擔心，還能和主管流暢對答、談笑風生，這堂課真的太值得了！
                    </p>
                  </div>
                </div>
                <a href="#" class="btn btn-warning w-100 text-white"
                  >瞭解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12 my-lg-0 my-3">
            <div class="card">
              <div class="img-top">
                <p class="top-title bg-success">韓語教師排行</p>
                <img
                  src="https://images.unsplash.com/photo-1507591064344-4c6ce005b128?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                  class="card-img-top w-100"
                  alt=""
                />
                <p class="rating-star"><i class="fa-solid fa-star"></i> 4.99</p>
              </div>
              <div class="card-body p-3">
                <h6 class="card-subtitle mb-2 text-muted">韓語口説</h6>
                <h5 class="card-title text-truncate">Hye-kyo | 旅遊韓語會話</h5>
                <hr />
                <div class="rating">
                  <div class="row my-3">
                    <div class="col-2">
                      <img
                        src="https://images.unsplash.com/photo-1515077678510-ce3bdf418862?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt=""
                        class="rating-std d-block"
                      />
                    </div>
                    <div class="col-10">
                      <p class="m-0">2022.10.21</p>
                      <p class="w-100 text-truncate m-0">
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i
                          class="fa-solid fa-star-half-stroke text-warning"
                        ></i>
                      </p>
                    </div>
                  </div>
                  <div class="row my-3">
                    <p class="text-truncate">
                      老師發音清晰且有耐心，課程内容實用，幫助我在韓國旅行時解決了語言問題。此外，您的老師還能糾正您的發音，使您的發音聽起來像韓國人，甚至在韓國旅游時被誤認爲是韓國人，真是太厲害了！
                    </p>
                  </div>
                </div>
                <a href="#" class="btn btn-warning w-100 text-white"
                  >瞭解更多</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="reasons">
      <div class="container">
        <h2 class="fs-1 text-center">
          選擇GuideClass的
          <span class="text-primary underline">三個理由</span>
        </h2>
        <div class="row">
          <div class="col-12 col-lg-4 my-5">
            <img src="../img/4936927.jpg" alt="anywhere" class="w-100" />
            <h3 class="text-center mt-2">
              任何時間 <span class="text-warning">不論地點</span> <br />
              只要有手機/筆電都能上課
            </h3>
          </div>
          <div class="col-12 col-lg-4 my-5">
            <img src="../img/3661727.jpg" alt="pro" class="w-100" />
            <h3 class="text-center mt-2">
              安心挑選 <span class="text-warning">通過檢核</span>
              <br />的專業教師
            </h3>
          </div>
          <div class="col-12 col-lg-4 my-5">
            <img src="../img/6342757.jpg" alt="safe" class="w-100" />
            <h3 class="text-center mt-2">
              <span class="text-warning">安全支付</span>
              <br />輕鬆預約
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="steps">
      <div class="container">
        <h2 class="text-light fw-bolder text-center fs-1 my-5">輕鬆預約課程</h2>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 p-4">
            <div class="step-intro bg-warning text-light">
              <p class="step-title fs-5 px-2 py-1 text-warning">STEP 1</p>
              <h3 class="step-content text-center">購買需要<br />的點數</h3>
              <p class="step-icon p-3 m-0 fs-md-2 fs-5">
                <i class="fa-solid fa-coins"></i>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-4">
            <div class="step-intro bg-warning text-light">
              <p class="step-title fs-5 px-2 py-1 text-warning">STEP 2</p>
              <h3 class="step-content text-center">搜尋專業<br />語言老師</h3>
              <p class="step-icon p-3 m-0 fs-md-2 fs-5">
                <i class="fa-solid fa-chalkboard-user"></i>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-4">
            <div class="step-intro bg-warning text-light">
              <p class="step-title fs-5 px-2 py-1 text-warning">STEP 3</p>
              <h3 class="step-content text-center">預約時間<br />支付點數</h3>
              <p class="step-icon p-3 m-0 fs-md-2 fs-5">
                <i class="fa-solid fa-calendar-check"></i>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-4">
            <div class="step-intro bg-warning text-light">
              <p class="step-title fs-5 px-2 py-1 text-warning">STEP 4</p>
              <h3 class="step-content text-center">預約成功<br />開始課程</h3>
              <p class="step-icon p-3 m-0 fs-md-2 fs-5">
                <i class="fa-solid fa-book-open-reader"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="comment">
      <div class="container">
        <h2 class="fs-1 text-center my-5">
          學長姐
          <span class="text-primary underline">心得</span>
        </h2>
        <div class="row">
          <div class="col-lg-4 col-12 my-5 quote-wrap">
            <div class="quote p-5">
              <p class="quote-icon text-warning">
                <i class="fa-solid fa-quote-left"></i>
              </p>
              <div class="comment-detail">
                最近我參加了GuideClass上的英語課，我覺得這是一個非常有幫助的課程。老師是一位非常有經驗的外籍老師，他的教學方式非常有趣，讓我在課堂上保持著良好的學習動力。
                在這堂課中，我學到了許多新的英語表達方式和新詞彙。老師還分享了很多有關如何提升英語口說和寫作能力的技巧和建議。我覺得這些技巧對我幫助很大，我已經開始在日常生活中使用它們。
              </div>
              <p class="comment-name mb-0 mt-4 text-end w-100">Meggie</p>
            </div>
          </div>
          <div class="col-lg-4 col-12 my-5 quote-wrap">
            <div class="quote p-5">
              <p class="quote-icon text-warning">
                <i class="fa-solid fa-quote-left"></i>
              </p>
              <div class="comment-detail">
                我在英語課上學到了許多有用的詞彙和句型。老師很有耐心地解釋新的知識，並且經常給我們練習的機會。我覺得這堂課很有趣，老師的教學方式也很吸引人。我特別喜歡老師給我們的口語練習，因為這讓我能夠熟練地表達自己的想法。雖然我還有許多要加強的地方，但我相信只要堅持不懈，就能在不久的將來達到更高的水平。
              </div>
              <p class="comment-name mb-0 mt-4 text-end w-100">Frank</p>
            </div>
          </div>
          <div class="col-lg-4 col-12 my-5 quote-wrap">
            <div class="quote p-5">
              <p class="quote-icon text-warning">
                <i class="fa-solid fa-quote-left"></i>
              </p>
              <div class="comment-detail">
                我上了在 GuideClass
                上的日語課，我學到了很多。我的老師非常負責任，她總是準時上課，並且有系統地講解課程內容。她還會在上課過程中給予我們實用的日語口語練習，讓我們能夠在真實情況下使用所學到的知識。
                除了正式的課堂之外，老師還會為我們準備額外的學習資源，包括書籍、電影、音樂等，讓我們能夠更加豐富地學習日語。我很喜歡這堂課，並且深感收穫良多。
              </div>
              <p class="comment-name mb-0 mt-4 text-end w-100">Kanji</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
