<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Guide Class</title>
    <script
      src="https://kit.fontawesome.com/de0f812dc0.js"
      crossorigin="anonymous"
    ></script>
    <link href="../asset/style/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="container-fluid fixed-top bg-white">
        <div class="container">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold fs-4 brand-title"
                ><span class="text-primary">Guide</span>Class</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                  <li class="nav-item me-auto">
                    <a class="nav-link text-dark" aria-current="page" href="#"
                      ><i class="fa-solid fa-chalkboard-user text-warning"></i>
                      找老師</a
                    >
                  </li>
                  <div class="d-none d-lg-flex mx-3">
                    <p class="my-auto mx-2 text-secondary">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </p>
                    <div class="dropdown">
                      <input
                        class="form-control nav-search bg-light"
                        type="search"
                        data-bs-toggle="dropdown"
                        placeholder="您想學習什麽？"
                        readonly="true"
                      />
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">英語</a></li>
                        <li>
                          <a class="dropdown-item" href="#">日語</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">韓語</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <li class="nav-item mx-3">
                    <a class="nav-link text-dark" href="#">會員中心</a>
                  </li>
                  <button class="btn btn-warning text-light mx-3" type="button">
                    註冊/登入
                  </button>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <section class="teacher-detail header-space container-fluid">
      <div class="container p-5">
        <div class="information p-5">
          <div class="row mb-5">
            <div class="col-12 col-xl-4 d-none d-xl-block">
              <img
                src="https://images.unsplash.com/photo-1580894732444-8ecded7900cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                alt="Tammy"
                class="mx-auto w-100 mb-3"
              />
              <button class="btn btn-warning w-100 text-light">
                <i class="fa-regular fa-heart"></i> 收藏
              </button>
            </div>
            <div class="col-12 col-md-8 col-xl-6">
              <img
                src="https://images.unsplash.com/photo-1580894732444-8ecded7900cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                alt="Tammy"
                class="mx-auto w-100 mb-3 d-block d-xl-none"
              />
              <h2 class="fs-3 text-primary">
                <span class="underline">Tammy | 職場英文讓您無往不利</span>
              </h2>
              <p>
                <span class="badge text-bg-warning text-light">商業英文</span>
                <span class="badge text-bg-warning text-light">口説</span>
              </p>
              <p class="content">
                英文是當今世界上最重要的語言之一，尤其是在職場上。無論是在國際公司中工作，還是在海外出差，英文都是必須掌握的溝通工具。但是，對於許多人來說，學習英文並不是一件容易的事。除了要掌握基礎的英文知識外，還需要在實際應用中磨練口語能力。
                這就是我們進行英文家教的原因：幫助學生提升職場英文技能，並進行口說訓練。我們是一群專業的英文老師，擁有豐富的教學經驗。我們深知，在職場上使用英文的能力不僅僅是掌握單詞和文法的問題，還需要在實際應用中磨練口語能力。因此，我們的課程不僅僅是傳授基礎知識，還會教授學生如何在商務環境中使用英文，以及實用的英文口語技巧。
                我們的課程是非常實用的，旨在幫助學生在職場上更加流利地使用英文。我們會根據學生的學習需求和水平，設計適合的課程。無論是基礎英文知識還是職場英文技巧，我們都有專業的教學。
              </p>
            </div>
            <div class="col-12 col-md-4 col-xl-2">
              <div class="dollar">
                <p class="fs-2 fw-bolder w-100 text-primary">
                  1000點 <br />
                  <span class="w-100 fs-6 text-center d-block">/50分鐘</span>
                </p>
              </div>
              <button class="btn btn-primary text-light w-100 mt-3">
                <i class="fa-solid fa-calendar-day"></i>
                立即預約
              </button>
              <button
                class="btn btn-warning w-100 my-2 text-light d-block d-xl-none"
              >
                <i class="fa-regular fa-heart"></i> 收藏
              </button>
            </div>
          </div>
          <hr class="w-75 mx-auto" />
          <div class="row schedule mt-5 justify-content-center">
            <h3 class="text-center">
              <span class="underline text-primary">上課時間</span>
            </h3>
            <div class="table-responsive">
              <table class="mt-4 col-12 col-lg-8 table">
                <thead>
                  <tr>
                    <th class="col-1"></th>
                    <th class="day col-1">Mon.</th>
                    <th class="day col-1">Tue.</th>
                    <th class="day col-1">Wed.</th>
                    <th class="day col-1">Thur.</th>
                    <th class="day col-1">Fri.</th>
                    <th class="day col-1">Sat.</th>
                    <th class="day col-1">Sun.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="time">
                      00:00 <br />
                      <i class="fa-solid fa-arrow-down"></i> <br />
                      08:00
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th class="time">
                      08:00 <br />
                      <i class="fa-solid fa-arrow-down"></i> <br />
                      12:00
                    </th>
                    <td><i class="fa-solid fa-circle-check"></i></td>
                    <td><i class="fa-solid fa-circle-check"></i></td>
                    <td><i class="fa-solid fa-circle-check"></i></td>
                    <td><i class="fa-solid fa-circle-check"></i></td>
                    <td><i class="fa-solid fa-circle-check"></i></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th class="time">
                      12:00 <br />
                      <i class="fa-solid fa-arrow-down"></i> <br />
                      18:00
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th class="time">
                      18:00 <br />
                      <i class="fa-solid fa-arrow-down"></i> <br />
                      24:00
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container pt-4">
        <div class="row text-secondary">
          <div class="col-12 col-lg-4 my-5">
            <p class="w-100 text-center text-primary mb-2 fs-2">
              <i class="fa-brands fa-facebook"></i>
            </p>
            <p class="w-100 text-center">GuideClass蓋教室線上語言家教平臺</p>
          </div>
          <div class="col-12 col-lg-4 my-5">
            <p class="w-100 text-center text-danger mb-2 fs-2">
              <i class="fa-regular fa-envelope"></i>
            </p>
            <p class="w-100 text-center">customerservice@guideclass.com</p>
          </div>
          <div class="col-12 col-lg-4 my-5">
            <p class="w-100 text-center mb-2 fs-2 icon-insta">
              <i class="fa-brands fa-instagram"></i>
            </p>
            <p class="w-100 text-center">guideclassguideworld</p>
          </div>
          <hr />
          <div class="col-12 text-center p-4">
            <h1 class="mb-2 fs-6">GuideClass 蓋教室線上語言學校</h1>
            <p class="fs-6 w-100">
              Copyright GuideClass Inc. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
